.menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../../assets/girl-blond-pink.jpg);
    background-size: cover;
    height: 100vh;
}

.menu__connect {
    
}

.menu__disconnect {
    
}

.menu__greeting {
    font-size: 1.7rem;
    margin-right: 3rem;
}

.menu__button {
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem 1rem 0 0;
    background: none;
    border: none;
}

.menu__button--home {
    background: #E14EB0;
    border-color: #E14EB0;
    width: 7rem;
}

.menu__button-content {
    font-size: 1.3rem;
    color: white;
}