.Home__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/girl-afro-green-blue.jpg);
    background-size: cover;
    height: 100vh;
}

.Home__banner {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.Home__title {
    font-size: 10rem;
    margin: 10rem 23rem 0 0;
    font-size: 6rem;
    color: white;
}

.Home__button {
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem 1rem 0 0;
}

.Home__button-content {
    font-size: 1.3rem;
    color: white;
}

.Home__button--welcome {
    background: #E14EB0;
    border-color: #E14EB0;
}

.Home__button--connexion {
    margin-right: 34rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: #CEDA51;
    border-color: #CEDA51;
    font-size: 1.3rem;
    color: black;
}

.form {
display: flex;
flex-direction: column;
align-items: end;
}

.form__informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 30rem 0px 0;
}

.form__title {
    margin-bottom: 2.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

.form__input {
    padding: 0.8rem;
    margin: 1rem;
    width: 20rem;
}

