.card__container {
    margin-top: 15%;
    width: 25rem;
    height: 25rem;
    background-color: black;
    opacity: 0.8;
    border-radius: 1rem;
   
  }


  .card__header {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
  }
  
  .card__description {
    border-radius: 1rem;
    color : white;
    font-size: 0.8rem;
text-align: center;
border: 1px solid white

  }
  
  .card__button {
    border-radius: 1rem;
    margin: 0.1rem;
  }
  .card__tag {
 border-radius: 1rem;
 color: white;
 
  }
  .card__comment{
    color: white;
    font-size: 0.8 rem;
    text-align: center;
  }
  .card__image {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 1rem;
    
  }
  