.comment-container {
    display: flex;
    flex-direction: column;
    width: 20rem; 
    padding: 0.5rem;
    border: 1px solid black; /* à suppr */
    margin: 6rem 0 0 14rem; /* à suppr */
}

.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-form__button {
    width: 1rem;
    padding: 0;
}

.comment-form__content {
    margin: 0.3rem;
    font-size: 0.8rem;
}

.comment-isOpenForm {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 0.8rem;
}

.comment-isOpenForm__area {
    width: 10rem;
    height: 1rem;
}

.comment-isOpenForm__button {
    margin: 0.1em;
    width: 3.5rem;
    height: 1.2rem;
    padding: 0rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0.1rem 0.1rem #7a5a5a;
}

.comment-isOpenForm__button:hover {
    box-shadow: -0.1rem -0.1rem #7a5a5a;
}

.comment-isOpenForm__button--confirm {
    background: #CEDA51;
    border-color: #CEDA51;
}

.comment-isOpenForm__button--cancel {
    background: #E899AE;
    border-color: #E899AE;
}

.comment-isOpenForm__button-content {
    font-size: 0.8rem;
}

.comment-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.comment-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.8rem 0 0.4rem 0;
    padding: 0.2rem;
    width: 20rem;
    height: 1rem;
}

.comment-list__content {
    margin-right: 0.5rem;
    padding: 0.4rem 0 0 0.3rem;
    border-color: white;
    background-color: white;
    width: 15rem;
    height: 1rem;
    font-size: 0.8rem;
}

.comment-list__buttons {
    display: flex;
    flex-direction: row;
}

.comment-list__button {
    margin: 0.1em;
    height: 1.2rem;
    padding: 0rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0.1rem 0.1rem #7a5a5a;
    font-size: 0.8rem;
}

.comment-list__button:hover {
    box-shadow: -0.1rem -0.1rem #7a5a5a;
}

.comment-list__button--modify {
    width: 3.8rem;
    background: #84D0E1;
    border-color: #84D0E1;
}

.comment-list__button--delete {
    width: 4.5rem;
    background: #E14EB0;
    border-color: #E14EB0;
}

.comment-list__button:hover {
    box-shadow: -0.1rem -0.1rem #7a5a5a;
}