.home__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/girl-blond-pink.jpg);
    background-size: cover;
    height: 100vh;
}

.home__banner {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.home__logo {
    width: 38rem;
    margin: 0rem 14rem 0 0;
}

.home__button {
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem 1rem 0 0;
}

.home__button--connexion {
    background: #84D0E1;
    border-color: #84D0E1;
    width: 9rem;
}

.home__button-content {
    font-size: 1.3rem;
    color: white;
}

.home__slogan {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    font-size: 3rem;
    margin: 10rem 0 0 2rem;
    font-weight: bold;
<<<<<<< HEAD
=======

>>>>>>> 3ce5ef881f2dc872bedfd4160f7af198e1ce0b2d
}