.home__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/home.webp);
    background-size: cover;
    height: 100vh;
}

.home__banner {
    display: flex;
    flex-direction: column;
}

.home__buttons {
    flex-direction: row;
    display: flex;
    justify-content: end;
}

.home__button {
    width: 9rem;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem 1rem 0 0;
    border: hidden;
    background: #84D0E1;
    border-color: #84D0E1;
    box-shadow: 0.2rem 0.2rem #7a5a5a;
    font-weight: bold;
}

.home__button:hover {
    box-shadow: -0.2rem -0.2rem #7a5a5a;
}

.home__button-content {
    font-size: 1.3rem;
    color: white;
}

.home__slogan {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    font-size: 2.8rem;
    margin: 18rem 0 0 2rem;
    font-weight: bold;
}

.home__presentation {
    margin-top: 10rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 black;
}