.edition__image__container {
  position: relative;
  text-align: center;
  width: 80%;
  height: 0;
  padding-bottom: 75%; /* Ajuste la hauteur en fonction de la largeur */
  display: flex;
  justify-content: center;
}

.edition__image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 10%;
  border-radius: 1rem;
}
.image__author{
  color:white;
  /*   font-weight: bold; */
  position: absolute;
  top:70%;
  left:20%;
  background-color: black;
  opacity: 0.8;
  width: 30%;
  border-radius: 1rem;
}
.edition_video{
  width: 100%;
  border-radius: 1rem;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 10%;
}
.description{
  color: white;
  font-style: italic;
  text-align:center;
}

.edition__button__image--modify{
  display: none;
}

.edition__description__button{
  background: #84D0E1;
  border-color: #84D0E1;
  padding: 0 0.5rem 0 0.5rem;
  height: 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 0.1rem 0.1rem #7a5a5a;
  border: hidden;
  margin: 0 2rem 0.5rem 0;
}
.edition__input__description{
  display: flex;
  flex-direction: row;
  margin-right: 0.3rem;
  padding: 0.2rem;
  align-items: end;
  width: 100%;
  height: 1rem;
  font-size: 0.8rem;
  border: hidden;
}
.edition__description__validate{
  margin: 0 2rem 0.5rem 0;
  padding: 0 0.5rem 0 0.5rem;
  height: 1rem;
  border-radius: 1rem;
  border: hidden;
  border-color: #CEDA51;
  box-shadow: 0.1rem 0.1rem #7a5a5a;
  background: #CEDA51;
  font-size: 0.8rem;
  text-align: center;
}
.edition__submit{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 0.1rem 0.1rem #7a5a5a;
  border: hidden;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  background: #CEDA51;
  border-color: #CEDA51;
 

}

