.modale {
    position: fixed;
    top: 50%;
    left: 52%;
    width: 12rem;
    height: 6rem;
    text-align: center;
    transform: translate(-50%, -50%); /* décalage pour ce que ce soit centré */
    background: #CEDA51;
    padding: 1rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
} 

.modale__message {
    font-size: 1rem;
}
    
.modale__button {
    border-radius: 1rem;
    border: hidden;
    width: 90%;
    padding: 0.2rem;
    box-shadow: 0.1rem 0.1rem #7a5a5a;
}

.modale__button:hover {
    border-radius: 1rem;
    border: hidden;
    width: 90%;
    padding: 0.2rem;
    box-shadow: -0.1rem -0.1rem #7a5a5a;
}


