.internship__container {
    display: flex;
    flex-direction: column;
    background-image: url(../../../public/assets/internship.webp);
    background-size: cover;
    height: 100vh;
}

.internship__title-organization {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.internship__subtitle-organization {
    font-size: 1rem;
    color: black;
}

.internship__search {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 1rem;
    width: 35rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.5);
    padding: 0 0.5rem 1rem 0.5rem;
}

.internship__search-city {

}

.internship__input-city {
    margin-right: 0.5rem;
    width: 20rem;
}

.internship__button-search {
    padding: 0 0.5rem 0 0.5rem;
    height: 1rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem #7a5a5a;
    border: hidden;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: text-bottom;
}

.internship__title-testimony {
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.internship__button-search:hover {
    box-shadow: -0.1rem -0.1rem #7a5a5a;
}

.internship__button-search--city {
    background-color: #84D0E1;
}

.internship__button-cities {
    display: flex;
    align-items: end;
}

.internship__button-search--cities {
    margin: 0 0 0.1rem 1rem;
    background-color: #CEDA51;
}

.internship__card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F7CE4F;
}

.internship__button-container {
    display: flex;
    justify-content: center;
    background-color: #F2C139;
}

.internship__button {
    padding: 0.5rem;
    width:10rem;
    margin: 1rem;
    border: hidden;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem #7a5a5a;
}

.internship__button:hover {
    box-shadow: -0.1rem -0.1rem #7a5a5a;
}

.internship__button--more {
    background: #84D0E1;
    border-color: #84D0E1;
}

.internship__button--less {
    background: #E899AE;
    border-color: #E899AE;
}